@page
@model CompanyWebpages.Pages.NewEmployeeModel
@{
}
@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-warning mb-4">
        <h5><i class="bi bi-info-circle-fill"></i> Information</h5>
        <p class="mb-0">@Model.ErrorMessage</p>
    </div>
}
<form method="Post">

    <!-- id -->
    <div class="mb-3">
        <label asp-for="newEmployee.Id" class="form-label"></label>
        <input  asp-for="newEmployee.Id" type="number" class="form-control" />
    </div>
    <!-- Name -->
    <div class="mb-3">
        <label asp-for="newEmployee.Name" class="form-label"></label>
        <input asp-for="newEmployee.Name" class="form-control" />
    </div>

    <!-- Password -->
    <div class="mb-3">
        <label asp-for="newEmployee.Password" class="form-label">Password</label>
        <input asp-for="newEmployee.Password" type="password" class="form-control" />
    </div>

    <!-- Email -->
    <div class="mb-3">
        <label asp-for="newEmployee.Email" class="form-label">Email</label>
        <input asp-for="newEmployee.Email"type="email" class="form-control" />
    </div>

    <!-- WorkPhoneNumber -->
    <div class="mb-3">
        <label asp-for="newEmployee.WorkPhoneNumber" class="form-label"></label>
        <input asp-for="newEmployee.WorkPhoneNumber" class="form-control" />
    </div>

    <!-- PersonalPhoneNumber -->
    <div class="mb-4">
        <label asp-for="newEmployee.PersonalPhoneNumber" class="form-label"></label>
        <input asp-for="newEmployee.PersonalPhoneNumber" class="form-control" />
    </div>

    <!-- Submit -->
    <button type="submit" class="btn btn-primary w-100">
        Opret
    </button>

</form>
