@page
@model GateGroupWebpages.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}
@* <h2>My Dashboard </h2>
 *@
<!-- My Dashboard -->
<h2 class="mb-3" style="font-family:'Playfair Display',serif;">My Dashboard</h2>

<a class="btn btn-light mb-3" asp-page="/NewOrder">Create New Order</a>
@* <a class="btn btn-primary mb-3" asp-page="/Contact">Contact</a>
 *@

<div class="table-responsive">
    <table class="table align-middle shadow-sm text-white">
        <thead class="text-white">
            <tr>
                <th>Order</th>
                <th>Status</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>

        @if (Model.Orders != null && Model.Orders.Any())
        {
            foreach (var Order in Model.Orders)
            {
                <tr>
                    <td>@Order.ID</td>
                    <td>
                        @if (Order.Status == gategourmetLibrary.Models.OrderStatus.Created)
                        {
                            <span class="badge bg-secondary">Created</span>
                        }
                        else if (Order.Status == gategourmetLibrary.Models.OrderStatus.InProgress)
                        {
                            <span class="badge bg-warning text-dark">In Progress</span>
                        }
                        else if (Order.Status == gategourmetLibrary.Models.OrderStatus.Completed)
                        {
                            <span class="badge bg-success">Completed</span>
                        }
                        else if (Order.Status == gategourmetLibrary.Models.OrderStatus.Cancelled)
                        {
                            <span class="badge bg-danger">Cancelled</span>
							}
		
                    </td>


                    <td>@Order.OrderMade.ToShortDateString()</td>
                    <td>@Order.OrderMade.ToShortTimeString()</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-muted">No Orders yet.</td>
            </tr>
        }
        </tbody>
    </table>
</div>

