@page
@using gategourmetLibrary.Models
@model GateGroupWebpages.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}
@* <h2>My Dashboard </h2>
 *@
<!-- My Dashboard -->
<h2 class="mb-3" style="font-family:'Playfair Display',serif;">My Dashboard</h2>

<a class="btn btn-light mb-3" asp-page="/NewOrder">Create New Order</a>

@*  dropdown to status options
 *@
<form method="get" class="mb-3">
    <select asp-for="statusFilter"
    asp-items="Model.StatusOptions"
    class="form-select w-auto d-inline"
    onchange="this.form.submit()">
    </select>
</form>
@* show table only if there r orders after filtering
 *@
 @if (Model.Orders != null && Model.Orders.Any())
 {
    <div class="table-responsive">
        <table class="table align-middle shadow-sm text-white">
          <thead class="text-white">
            <tr>
                <th>Order</th>
                <th>Status</th>
                <th>Date</th>
                <th>Time</th>
          </tr>
        </thead>
        <tbody>
            @foreach (var Order in Model.Orders)
            {
                <tr>
                    <td>@Order.ID</td>
                    <td>
                        @if (Order.Status == OrderStatus.Created)
                        {
                            <span class="badge bg-secondary">Created</span>
                        }
                        else if (Order.Status == OrderStatus.InProgress)
                        {
                            <span class="badge bg-warning text-dark">In Progress</span>
                        }
                        else if (Order.Status == OrderStatus.Completed)
                        {
                            <span class="badge bg-success">Completed</span>
                        }
                        else if (Order.Status == OrderStatus.Cancelled)
                        {
                            <span class="badge bg-danger">Cancelled</span>
                        }
                    </td>
                      <td>@Order.OrderMade.ToShortDateString()</td>
                      <td>@Order.OrderMade.ToShortTimeString()</td>

                    <td class="text-end">
                        
                        <form method="post"
                        asp-page-handler="Delete"
                        asp-route-id="@Order.ID"
                        onsubmit="return confirm('Are you sure you want to delete this order?')">
                        <button class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
                }
            </tbody>
            </table>
            </div>
        }
        
        else
        {
                <p class="text-muted">Please select a status to view your orders.</p>
        }

