@page
@model GateGroupWebpages.Pages.NewOrderModel
@{
}
<h2>Bestil Ret (test side) </h2>

<form method="post">
    <input type="text" name="OrderText" placeholder="Skriv din ordre her..." />
    <button type="submit">Send Ordre</button>
</form>



